@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <nobr>Please click <a href="../MovieRegistration/Index">Register Movie</a> to register a movie.</nobr>
</div>
