@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <td><nobr>Please click <a class="nav-link" asp-area="" asp-controller="MovieRegistration" asp-action="Index">Movie Registration</a> to register a movie.</nobr></td>
</div>
